<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<title>Test</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="preview_pane">
			<div class="hero_row">
			<div id="team_title" class="title"> The Usual Suspects </div>
			
            <div class="hero_gallery">
				<img id="hero4" src="<%= params.h4.imagesrc %>" alt="Position Four" width="96" height="96">
			</div>
			<div class="hero_gallery">
				<img id="hero3" src="<%= params.h3.imagesrc %>" alt="Position Three" width="96" height="96">
			</div>
			<div class="hero_gallery">
				<img id="hero2" src="<%= params.h2.imagesrc %>" alt="Position Two" width="96" height="96">
			</div>
			<div class="hero_gallery">
				<img id="hero1" src="<%= params.h1.imagesrc %>" alt="Position One" width="96" height="96">
            </div>
            </div>
            <div class="ability_row">
				<div class="ability_gallery" id="position4_abilities">
					<div class="ability_gallery_item"><img id="Hero4Ab1" src="<%= params.h4.abilities.a1.imagesrc %>" alt="Ability One" width="96" height="96"></div>
					<div class="ability_gallery_item"><img id="Hero4Ab2" src="<%= params.h4.abilities.a2.imagesrc %>" alt="Ability One" width="96" height="96"></div>
					<div class="ability_gallery_item"><img id="Hero4Ab3" src="<%= params.h4.abilities.a3.imagesrc %>" alt="Ability One" width="96" height="96"></div>
					<div class="ability_gallery_item"><img id="Hero4Ab4" src="<%= params.h4.abilities.a4.imagesrc %>" alt="Ability One" width="96" height="96"></div>
				</div>
				<div class="ability_gallery" id="position3_abilities">
					<div class="ability_gallery_item"><img id="Hero3Ab1" src="<%= params.h3.abilities.a1.imagesrc %>" alt="Ability One" width="96" height="96"></div>
					<div class="ability_gallery_item"><img id="Hero3Ab2" src="<%= params.h3.abilities.a2.imagesrc %>" alt="Ability One" width="96" height="96"></div>
					<div class="ability_gallery_item"><img id="Hero3Ab3" src="<%= params.h3.abilities.a3.imagesrc %>" alt="Ability One" width="96" height="96"></div>
					<div class="ability_gallery_item"><img id="Hero3Ab4" src="<%= params.h3.abilities.a4.imagesrc %>" alt="Ability One" width="96" height="96"></div>
				</div>
				<div class="ability_gallery" id="position2_abilities">
					<div class="ability_gallery_item"><img id="Hero2Ab1" src="<%= params.h2.abilities.a1.imagesrc %>" alt="Ability One" width="96" height="96"></div>
					<div class="ability_gallery_item"><img id="Hero2Ab2" src="<%= params.h2.abilities.a2.imagesrc %>" alt="Ability One" width="96" height="96"></div>
					<div class="ability_gallery_item"><img id="Hero2Ab3" src="<%= params.h2.abilities.a3.imagesrc %>" alt="Ability One" width="96" height="96"></div>
					<div class="ability_gallery_item"><img id="Hero2Ab4" src="<%= params.h2.abilities.a4.imagesrc %>" alt="Ability One" width="96" height="96"></div>
				</div>
				<div class="ability_gallery" id="position1_abilities">
					<div class="ability_gallery_item"><img id="Hero1Ab1" src="<%= params.h1.abilities.a1.imagesrc %>" alt="Ability One" width="96" height="96"></div>
					<div class="ability_gallery_item"><img id="Hero1Ab2" src="<%= params.h1.abilities.a2.imagesrc %>" alt="Ability One" width="96" height="96"></div>
					<div class="ability_gallery_item"><img id="Hero1Ab3" src="<%= params.h1.abilities.a3.imagesrc %>" alt="Ability One" width="96" height="96"></div>
					<div class="ability_gallery_item"><img id="Hero1Ab4" src="<%= params.h1.abilities.a4.imagesrc %>" alt="Ability One" width="96" height="96"></div>
				</div>
			</div>
		</div>
		<div class="trinket_row">
			<div class="trinket_gallery">
				<div class="trinket_gallery_item"><img id="Hero4Tr1" src="/images/trinkets/pve_all_heroes/Necklace_trinket.png" alt="trinket one"></div>
				<div class="trinket_gallery_item"><img id="Hero4Tr2" src="/images/trinkets/pve_all_heroes/Stake_trinket.png" alt="trinket one"></div>
			</div>
			<div class="trinket_gallery">
				<div class="trinket_gallery_item"><img id="Hero3Tr1" src="/images/trinkets/pve_all_heroes/Necklace_trinket.png" alt="trinket one"></div>
				<div class="trinket_gallery_item"><img id="Hero3Tr2" src="/images/trinkets/pve_all_heroes/Stake_trinket.png" alt="trinket one"></div>
			</div>
			<div class="trinket_gallery">
				<div class="trinket_gallery_item"><img id="Hero2Tr1" src="/images/trinkets/pve_all_heroes/Necklace_trinket.png" alt="trinket one"></div>
				<div class="trinket_gallery_item"><img id="Hero2Tr2" src="/images/trinkets/pve_all_heroes/Stake_trinket.png" alt="trinket one"></div>
			</div>
			<div class="trinket_gallery">
				<div class="trinket_gallery_item"><img id="Hero1Tr1" src="/images/trinkets/pve_all_heroes/Necklace_trinket.png" alt="trinket one"></div>
				<div class="trinket_gallery_item"><img id="Hero1Tr2" src="/images/trinkets/pve_all_heroes/Stake_trinket.png" alt="trinket one"></div>
			</div>
		</div>
	</body>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	

</html>
